﻿/*
Theme Name: Musik
Theme URI: http://flatfull.com/wp/musik/
Author: Flatfull.com
Author URI: http://flatfull.com/
Description: A responsive music wordpress theme, Manage audio, album, genres, artist and sell the audio files to customer.
Version: 2.3.3
License: Envato License
License URI: http://themeforest.net/licenses/standard
Text Domain: musik
Tags: white, dark, light, fluid-layout, custom-colors, editor-style, featured-images, threaded-comments, translation-ready


*/

/* =WordPress
--------------------------------------------------------------*/
img, object, embed {
  max-width: 100%;
  height: auto;
}
table{
	width: 100%;
	border: 1px solid #f5f5f5;
	margin-bottom: 20px;
}
table th,
table td{
	padding: 12px 16px;
	background-color: #fff;
	border-bottom: 1px solid #f5f5f5;
}

.alignnone, .alignleft {
  margin: 0.538em 1.47em 1.47em 0;
}

.aligncenter {
  display: block;
  margin: 0.538em auto 0.538em auto;
}

.alignright {
  float: right;
  margin: 0.538em 0 1.47em 1.47em;
}

.alignleft {
  float: left;
}

.wp-caption, .gallery-caption {
  max-width: 100%;
  padding: 0.583em 0.333em 1.593em;
  text-align: center;
}

.wp-caption img {
  border: 0 none;
  margin: 0;
  padding: 0;
  height: auto;
  max-width: 100%;
  width: auto;
}

.wp-caption-text {
  font-size: 0.846em;
  color: #808080;
  margin: 1em 0;
}

body.admin-bar > section > section{
	bottom: 32px;
}
body.admin-bar .navbar-fixed-top-xs{
	position: static !important;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.category-sticky,
.sticky {
	display: block;
	border-left: 3px solid #4cb6cb;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* =Entry
-------------------------------------------------------------- */
.entry-content ul, 
.entry-content ol, 
.entry-content form,
.entry-content p{
	margin-bottom: 1.462em;
}
.entry-content li{
	margin: 0.5em 0;
}
.entry-content a{
	/*color: #4cb6cb;*/
}
.entry-footer > span,
.entry-meta > span{
	margin-right: 12px;
}

.comment-list time{
	font-size: 11px;
	opacity: 0.7;
}
.comment-reply-title{
	padding: 20px 0 10px 0;
	margin: 0;
}


.widget_recent_entries li a{
	display: block;
}

.widget_recent_entries li .post-date{
	font-style: italic;
	color: #888;
	font-size: 11px;
}

.widget_calendar table{
	border-width: 0;
}
.widget_calendar table th,
.widget_calendar table td{
	padding: 4px 6px;
	border-width: 0;
	background-color: transparent;
}


/* input */
.edd-input,
.edd-select,
.entry-content input[type=text], 
.entry-content input[type=email], 
.entry-content input[type=password], 
.entry-content select,
.entry-content textarea{
	border: 1px solid #ddd !important;
	background-color: #fff !important;
	padding: 6px 10px !important;
	margin-bottom: 10px;
	outline: 0;
}

.edd-input,
.edd-select,
.entry-content input[type=text], 
.entry-content select{
	height: 34px;
}

.edd-input:focus,
.edd-input:active,
.entry-content input[type=text]:focus, 
.entry-content input[type=email]:focus, 
.entry-content input[type=password]:focus, 
.entry-content select:focus,
.entry-content textarea:focus{
	outline: 0;
	border-color: #ccc !important;
}

.edd_form legend{
	font-size: 16px;
	padding-top: 10px;
	border: none;
}

.edd_download_purchase_form .edd_price_options .edd_download_quantity_wrapper{
	display: inline;
}

/* button */
.button,
.edd_submit,
.group-button a,
input[type=submit],
input[type=button]{
	outline: 0;
	font-weight: bold;
	border: 1px solid #ddd;
	background: #fff;
	padding: 6px 16px;
	line-height: 20px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border-radius: 3px;
}
.button:hover,
.button:focus,
.edd_submit:hover,
.edd_submit:focus,
.group-button a:hover,
input[type=submit]:hover,
input[type=button]:hover{
	border-color: #999;
}

/* pagination */
.screen-reader-text{display: none}
.nav-links .page-numbers{
	display: inline-block;
	background-color: #fff;
	padding: 6px 12px;
	text-align: center;
	float: left;
	margin-left: -1px;
	border: 1px solid #eaeef1;
}
.nav-links .page-numbers.current{
	background-color: #eaeef1;
}

.item .btn-xs{
	border-radius: 20px;
	line-height: 1;
}
.item .item-overlay.bottom{
	top: auto;
}

.item .edd_price_options{
	font-size: 12px;
}

.item .edd_price_options{
	display: none;
}

.item .edd-cart-ajax-alert{
	display: none;
}

.item .edd_download_purchase_form{
	margin-bottom: 0;
}

.item .item-download{
	position: absolute;
	bottom: -3px;
	right: 1px;
	z-index: 1;
}

.item .edd_download_quantity_wrapper{
	display: none;
}

.edd-cart-ajax-alert{white-space: nowrap;}

/* widgets */

.widget{
	margin-bottom: 20px;
}
.sub-title{
	margin: -6px 0 12px 0;
	opacity: 0.7;
}
.dropdown-menu .widget{
	margin-bottom: 0;
}
.dropdown-menu .widget li{
	border-radius: 0 !important;
	border-left-width: 0;
	border-right-width: 0;
}
.widget-title{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
}
.widget ul{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.widget li{
	display: block;
	padding: 10px 15px;
	background-color: #fff;
	border: 1px solid #eaeef1;
	margin-bottom: -1px;
}

.widget ul.nav > li{
	padding: 0;
}

.nav > li > ul > li > a{
	padding-left: 30px;
}

.nav > li > ul > li > ul > li > a{
	padding-left: 40px;
}

.widget ul.list-inline li{
	padding: 0;
	border-radius: 3px;
	margin-right: 4px;
	margin-bottom: 4px;
}
.widget ul.list-inline li a{
	display: inline-block;
	padding: 6px 10px;
}

.widget ul.nav li li a{
	padding-left: 30px;
}

.widget ul.nav li li li a{
	padding-left: 50px;
}

.widget li li{
	padding: 0;
	padding-top: 10px;
	padding-left: 20px;
	border-width: 0;
}

.widget li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.widget li:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.widget th,
.widget td{
	padding: 4px 8px;
} 
.pull-left ~ .clear{
	clear: none !important;
}


/* =Cart Widget
-------------------------------------------------------------- */
.edd-cart-number-of-items{
	margin:0;
	padding: 12px 16px;
	font-style: normal;
	font-weight: bold;
}
.edd_total{
	display: inline-block;
	float: right;
	background: transparent !important;
}
.edd-cart-item{
	position: relative;
	padding-right: 70px !important;
}
.edd-remove-from-cart{
	position: absolute;
	right: 10px;
	top: 10px;
}
.edd-cart-item-separator{
	display: none;
}

.dropdown-menu .edd-cart{
	max-height: 200px;
	overflow-y: auto;
}

#edd_checkout_login_register,
#edd_checkout_user_info{
	background-color: #fff;
}
#edd_checkout_cart input.edd-item-quantity{
	width: 4em;
}
/* avatar */
#basic-user-avatar-form{
	padding: 20px 10px;
}
#basic-user-avatar-form img{
	float: left;
	margin-right: 20px;
}
#basic-user-avatar-form .description{
	display: none;
}
#basic-user-avatar-form input[type="submit"]{
	margin-top: 20px;
	outline: 0;
	font-weight: bold;
	border: 1px solid #ddd;
	background: #fff;
	padding: 6px 16px;
	line-height: 20px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.text-muted a{opacity: 0.7}
.item-desc{min-height: 38px;}
.item-author .avatar{
	margin-right: 6px;
}

#home-sidebar .list-group-item{
	padding: 10px 0;
	background-color: transparent;
	border-width: 0;
}

#masonry .item{
	position: absolute;
	width: 100%;
	height: 100%;
}
#masonry .text-muted{
	font-size: 13px;
	color: rgba(255, 255, 255, 0.75) !important;
}


.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 767px) {
	#nav footer .btn-block{
		text-align: left;
	}
	.navbar-form{
		padding: 0 !important;
	}
}
.avatar{
	display: inline-block !important;
}
/*
Custom default player
*/

.mejs-container{
	outline:0;
}
div.mejs-container .mejs-controls{
	visibility: visible;
	height: 40px;;
	background-color: #4cb6cb;
}
div.mejs-controls .mejs-button{
	min-width: 40px;
	height: 40px;
}
div.mejs-controls .mejs-button button{
	margin: 12px 10px;
}
div.mejs-controls div.mejs-time-rail{
	padding-top: 0;
}
div.mejs-container .mejs-controls .mejs-time{
	padding: 15px 10px 0;
}
div.mejs-controls .mejs-time-rail .mejs-time-total{
	outline: 0;
	margin: 0;
}
div.mejs-controls .mejs-time-rail span:not(.mejs-time-float), 
div.mejs-controls .mejs-time-rail a{
	height: 40px;
}
div.mejs-controls .mejs-time-rail .mejs-time-current{
	background-color: #36b0c8;
}
div.mejs-controls .mejs-time-rail .mejs-time-loaded, 
div.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{
	background-color: #62bcce;
}
div.mejs-controls .mejs-volume-button .mejs-volume-slider{
	left: 5px;
}

/*
	buddy press
*/
#buddypress .avatar{
	display: inline-block;
}
#buddypress #item-header{
	margin: -30px;
	margin-bottom: 0;
	position: relative;
	background-color: #000;
}
#buddypress #item-header #message{
	position: absolute;
	z-index: 10;
	left: 0;
	bottom:0;
	margin: 0;
}
#buddypress div#message.updated p{
	margin: 0;
}
#buddypress div#item-header div#item-meta{
	font-size: 100% !important;
	color: inherit;
	margin-bottom: 0;
}
#buddypress #item-nav{
	margin: 0 -30px;
	padding: 20px 30px;
	background: #fff;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.04);
}
#buddypress #item-nav a{
	color: #888;
}
#buddypress form#whats-new-form textarea{
	min-height: 40px;
}
#buddypress #object-nav ul li.selected a{
	background-color: #788990;
	color: #fff;
	border-radius: 3px;
}
#buddypress div.item-list-tabs ul li a span{
	border-width: 0;
	font-size: 12px;
	padding: 1px 6px;
	background: #fff;
	color: #444;
}
#buddypress div.item-list-tabs ul li.selected a,
#buddypress div.item-list-tabs ul li.current a{
	background-color: #fff;
}

#buddypress a.bp-primary-action,
#buddypress a.bp-secondary-action,
#buddypress span.highlight{
	font-size: inherit;
}

.bp-avatar-nav ul.avatar-nav-items li.current{
	border-bottom-color: #f2f4f8;
}

.bp_members .entry-header,
.bp_group .entry-header{
	position: absolute;
	z-index: 10;
}
.bp_members .entry-header h1,
.bp_group .entry-header h1{
	font-size: 20px;
	color: rgba(255,255,255,0.9) !important;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.bp_members .entry-content{margin:0;}
#buddypress input[type=submit],
#buddypress input[type=button]{
	padding-top: 6px;
	padding-bottom: 6px;
}
/*cover*/
#buddypress #header-cover-image{
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	height: auto;
}
.profile-cover-inner{
	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
}
#item-header-cover-image{
	background-color: transparent;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
    background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 50%, rgba(0,0,0,0.7));
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0) 50%, rgba(0,0,0,0.7));
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 50%, rgba(0,0,0,0.7));
    background-repeat: no-repeat;
}

#buddypress #item-header-cover-image #item-header-avatar{
	margin: 0;
	padding-top: 50px;
	float: none;
}

.profile-cover-action{
	position: absolute;
	z-index: 11;
	top: 15px;
	display: none;
}
#buddypress #item-header-content,
#buddypress #item-header-content a{
	color: #fff !important;
}
#buddypress #item-header-avatar{
	display:block;
	text-align: center;
	position: relative;
	z-index: 10;
}
#buddypress div#item-header div#item-actions{
	float: right;
	font-size: 12px;
	text-align: center;
	width: auto;
	margin: 0 !important;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
}
#buddypress div#item-header ul li{
	float: none;
	display: inline-block;
}
ul#group-admins{
	padding: 0
}
#buddypress div#item-header div#item-actions h3{
	font-size: 14px;
}
#buddypress #item-header-avatar a{
	display:inline-block;
}
#buddypress #item-header-avatar img{
	float: none !important;
	margin: 0 !important;
	border: 5px solid #fff;
}
#buddypress #item-header-content{
	padding-top: 10px;
	padding-bottom: 20px;
	float: none !important;
	display: block;
	text-align: center;
	position: relative;
	z-index: 10;
	margin: 0 !important;
}
#buddypress #item-buttons{
	display: inline-block;
	margin-top: 20px;
}
#buddypress #item-buttons a{
	background-color: transparent;
	border-color: rgba(255,255,255,0.7);
	border-radius: 15px;
	-webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: bold;
}
#buddypress #item-buttons a:hover,
#buddypress #item-buttons a:focus
{
	background-color: transparent;
	border-color: rgba(255,255,255,1);
	border-radius: 3px;
}
#buddypress #subnav{
	margin: 15px 0 15px 0 !important;
}

#buddypress div.activity-comments div.acomment-meta,
#buddypress div.activity-comments div.acomment-content,
#buddypress .activity-list li.mini{
	font-size: 100% !important;
	margin-top: 4px;
}
#buddypress .activity-list li.mini .activity-avatar img.avatar{
	width: 50px;
	height: auto;
	margin-left: 0;
}
#buddypress div.activity-comments ul li{
	padding-top: 20px
}
#buddypress div.activity-comments ul li>ul{
	padding-top: 20px;
}
#buddypress ul.item-list li{
	padding-bottom: 20px;
}
#buddypress ul.item-list li img.avatar{
	margin-right: 14px;
}
#buddypress .standard-form label.radio{
	margin-left: 20px !important;
}
#search-message-form{margin-bottom: 0;}
#buddypress .activity-list .activity-content .activity-header img.avatar{
	margin-top: -8px !important;
}
#buddypress form#whats-new-form textarea{
	width: 100%;
}
#buddypress ul.item-list li div.item-title, #buddypress ul.item-list li h4{
	font-size: 100%;
}

.profile-fields{
	margin: 20px 0;
}
.profile-fields td{
	background-color: transparent;
	color: inherit;
	font-size: 14px;
}
#buddypress #reply-title small a span, 
#buddypress a.bp-primary-action span{
	border-radius: 10px;
}
#buddypress div.activity-comments form .ac-textarea{
	background-color: transparent;
	padding: 0;
	border: none;
}
#buddypress span.activity{
	display: block;
}

body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content, 
body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions{
	max-width: 100%;
}

.simplefavorite-button{
	background-color: transparent;
	border-width: 0;
}
.modal{
	text-align: center;
}
.modal:before{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: '';
}
.modal > div{
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}

.bg-white #jp_container .lt{
	background-color: #f9f9f9;
}

.bg-white #jp_container .dk{
	background-color: #fff;
}

.bg-white #jp_container .lter{
	background-color: #f9f9f9;
}

.footer.bg-white{
	box-shadow: 0 -1px 0 rgba(0,0,0,0.035);
}

.edd-popup{
	position: relative;
}

#edd-modal .btn-xs{
	padding: 8px 20px;
	font-size: 14px;
}

.edd-choose{
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.navbar-form .dropdown-menu{
	width: 320px;
}

.navbar-form .list-group{
	max-height: 312px;
	overflow-y: scroll;
	margin-bottom: 0; 
}
.navbar-form .list-group-item{
	border-radius: 0 !important;
}
.navbar-form .list-group-item:first-child{
	border-top-width: 0;
}
.navbar-form .list-group-item:last-child{
	border-bottom-width: 0;
}
.navbar-collapse.in{
	overflow-y: visible !important;
}

@media (max-width: 767px){
	.nav-off-screen,
	.nav-off-screen + * {
	    position: fixed !important;
	}
}