﻿/*START OF MAIN STYLE FOR EVERY WEBSITE*/
@MEDIA {
    body {
        padding: 0;
    }

    .marginTopSm {
        margin-top: 10px;
    }

    .marginTopXs {
        margin-top: 5px;
    }

    .marginTopMd {
        margin-top: 15px;
    }

    .marginTopLg {
        margin-top: 20px;
    }

    .marginBottomSm {
        margin-Bottom: 10px;
    }

    .marginBottomXs {
        margin-Bottom: 5px;
    }

    .marginBottomMd {
        margin-Bottom: 15px;
    }

    .marginBottomLg {
        margin-Bottom: 20px;
    }

    .marginLeftSm {
        margin-Left: 10px;
    }

    .marginLeftXs {
        margin-Left: 5px;
    }

    .marginLeftMd {
        margin-Left: 15px;
    }

    .marginLeftLg {
        margin-Left: 20px;
    }

    .marginRightSm {
        margin-Right: 10px;
    }

    .marginRightXs {
        margin-Right: 5px;
    }

    .marginRightMd {
        margin-Right: 15px;
    }

    .marginRightLg {
        margin-Right: 20px;
    }

    .marginVLg {
        margin: 20px 0;
    }

    .marginHtLg {
        margin: 0 20px;
    }

    .marginVXs {
        margin: 5px 0;
    }

    .marginHtXs {
        margin: 0 5px;
    }

    .marginVSm {
        margin: 10px 0;
    }

    .marginHtSm {
        margin: 0 10px;
    }

    .marginVMd {
        margin: 15px 0;
    }

    .marginHtMd {
        margin: 0 15px;
    }

    .paddingTopSm {
        padding-top: 10px;
    }

    .paddingTopXs {
        padding-top: 5px;
    }

    .paddingTopMd {
        padding-top: 15px;
    }

    .paddingTopLg {
        padding-top: 20px;
    }

    .paddingBottomSm {
        padding-Bottom: 10px;
    }

    .paddingBottomXs {
        padding-Bottom: 5px;
    }

    .paddingBottomMd {
        padding-Bottom: 15px;
    }

    .paddingBottomLg {
        padding-Bottom: 20px;
    }

    .paddingLeftSm {
        padding-Left: 10px;
    }

    .paddingLeftXs {
        padding-Left: 5px;
    }

    .paddingLeftMd {
        padding-Left: 15px;
    }

    .paddingLeftLg {
        padding-Left: 20px;
    }

    .paddingRightSm {
        padding-Right: 10px;
    }

    .paddingRightXs {
        padding-Right: 5px;
    }

    .paddingRightMd {
        padding-Right: 15px;
    }

    .paddingRightLg {
        padding-Right: 20px;
    }

    .paddingVLg {
        padding: 20px 0;
    }

    .paddingHtLg {
        padding: 0 20px;
    }

    .paddingVXs {
        padding: 5px 0;
    }

    .paddingHtXs {
        padding: 0 5px;
    }

    .paddingVSm {
        padding: 10px 0;
    }

    .paddingHtSm {
        padding: 0 10px;
    }

    .paddingVMd {
        padding: 15px 0;
    }

    .paddingHtMd {
        padding: 0 15px;
    }
}
/*END OF MAIN STYLE FOR EVERY WEBSITE*/

.mainContent {
    //padding: 10px;
}
