﻿@import url(https://fonts.googleapis.com/css?family=Raleway:500);

/*$primary-color: #2ecc71;*/
body #volume  {
    background: #2a2a2a;
    font-family: Raleway;
}


#volume h1 {
    text-align: center;
    font-size: 34px;
    padding-top: 40px;
    color: #FFF;
}

#volume p {
    color: #999;
    text-align: center;
    font-size: 15px;
}

#volume a {
    color: #2ecc71;
    text-decoration: none;
    padding: 1px 2px 0px 2px;
    border-bottom: 2px solid rgba(0, 0, 0, .0);
    transition: all .1s ease;
}

    #volume a:hover {
        padding: 1px 2px 1px 2px;
        border-bottom: 2px solid #555;
    }



#volume #player {
    width: 350px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    top: 80px;
}

#volume i {
    position: absolute;
    margin-top: -6px;
    color: #666;
}

    #volume i.fa-volume-down {
        margin-left: -8px;
    }

    #volume i.fa-volume-up {
        margin-right: -8px;
        right: 0;
    }



#volume {
    left: 24px;
    margin: 0 auto;
    height: 5px;
    background: #36B0C8;
    border-radius: 15px;
}

#volume .ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    /*background: $primary-color;*/
    border: none;
    border-radius: 10px;
    outline: none;
}

#volume .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #FFF;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
}
